<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779195681574-qva6pa7ep85q3jce6bdb5c4r7l47ojt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779195681574-qva6pa7ep85q3jce6bdb5c4r7l47ojt9</string>
	<key>API_KEY</key>
	<string>AIzaSyB1kNhOx8YhsTw0Z9AJcUHC5ZxC3pMG00E</string>
	<key>GCM_SENDER_ID</key>
	<string>779195681574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ko.CampingProject</string>
	<key>PROJECT_ID</key>
	<string>campingproject-5c032</string>
	<key>STORAGE_BUCKET</key>
	<string>campingproject-5c032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779195681574:ios:f596092e55bed06cf9cfe7</string>
</dict>
</plist>